<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" >
    <title>Admin panel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

  <body>
    <header class="header">
      <div th:replace="~{/blocks/header::header}"></div>
    </header>

    <main>
      <div class="container-fluid d-flex flex-column vh-100">
        <div class="row flex-grow-1">
          <aside class="col-md-2 px-0 pt-3">
            <ul class="nav nav-pills flex-column " role="tablist">
              <li class="nav-item">
                <a class="nav-link active"
                   data-toggle="pill"
                   href="#adminCard" role="tab"
                   aria-controls="admin"
                   aria-selected="true">Admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                   data-toggle="pill"
                   href="#userCard" role="tab"
                   aria-controls="user"
                   aria-selected="false">User</a>
              </li>
            </ul>
          </aside>

          <!--main-->
          <div class="col-md-10 pt-3 px-4 bg-light" >
            <div class="tab-content">
              <!--Admin panel-->
              <div class="tab-pane active" id="adminCard" role="tabpanel" aria-labelledby="admin-tab">
                <h1>Admin panel</h1>

                <ul class="nav nav-tabs mt-3" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#usersTable">Users table</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                  </li>
                </ul>

                <div class="tab-content card mb-3">
                  <!-- users table-->
                  <div id="usersTable" class="tab-pane active">
                    <div class="card-header">
                      <h3>All users</h3>
                    </div>
                    <div class="card-body">
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <th>ID</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Age</th>
                          <th>Email</th>
                          <th>Role</th>
                          <th>Edit</th>
                          <th>Delete</th>
                        </tr>
                        </thead>

                        <tbody th:each="user : ${allUsers}">
                          <tr>
                            <td th:text="${user.getId()}">id</td>
                            <td th:text="${user.getFirstName()}">first name</td>
                            <td th:text="${user.getLastName()}">last name</td>
                            <td th:text="${user.getAge()}">age</td>
                            <td th:text="${user.getEmail()}">email</td>
                            <td>
                              <span class="text"
                                 th:each="role : ${user.getRoles()}"
                                 th:text="${role.getRoleName().replaceFirst('ROLE_', ' ')}">roles
                              </span>
                            </td>
                            <td>
                              <button type="submit" class="btn btn-info" data-toggle="modal"
                                      th:data-target="'#editModal' + ${user.getId()}">Edit
                              </button>
                            </td>
                            <td>
                              <button type="submit" class="btn btn-danger" data-toggle="modal"
                                      th:data-target="'#deleteModal'+ ${user.getId()}">Delete
                              </button>
                            </td>
                          </tr>

                          <div class="modal fade" th:id="'editModal' + ${user.getId()}"
                               tabindex="-1" role="dialog"
                               aria-labelledby="editModalLabel"
                               aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
                                  <div class="modal-body">
                                    <div class="row justify-content-center">
                                      <div class="card-body col-md-6 text-center">
                                        <div class="form-group">
                                          <label class="font-weight-bold" for="idForEdit">First name</label>
                                          <input type="text" class="form-control"
                                                 th:value="${user.getId()}" name="id" id="idForEdit" disabled/>
                                        </div>

                                        <div class="form-group">
                                          <label class="font-weight-bold" for="firstNameForEdit">First name</label>
                                          <input type="text" class="form-control"
                                                 th:value="${user.getFirstName()}" name="firstName" id="firstNameForEdit" required/>
                                        </div>

                                        <div class="form-group">
                                          <label class="font-weight-bold" for="lastNameForEdit">Last name</label>
                                          <input type="text" class="form-control"
                                                 th:value="${user.getLastName()}" name="lastName" id="lastNameForEdit" required/>
                                        </div>

                                        <div class="form-group">
                                          <label class="font-weight-bold" for="ageForEdit">Age</label>
                                          <input type="number" class="form-control"
                                                 th:value="${user.getAge()}" name="age" id="ageForEdit" required/>
                                        </div>

                                        <div class="form-group">
                                          <label class="font-weight-bold" for="emailForEdit">Email</label>
                                          <input type="email" class="form-control"
                                                 th:value="${user.getEmail()}" name="email" id="emailForEdit" required/>
                                        </div>

                                        <div class="form-group">
                                          <label class="font-weight-bold" for="passwordForEdit">Password</label>
                                          <input type="password" class="form-control"
                                                 th:value="${user.getPassword()}" name="password" id="passwordForEdit" required/>
                                        </div>

                                        <div class="form-group">
                                          <label class="font-weight-bold" for="rolesForEdit">Roles</label>
                                          <select multiple class="form-control" th:name="roles" id="rolesForEdit" size="2">
                                            <option th:each="role : ${allRoles}"
                                                    th:value="${role.id}"
                                                    th:text="${role.roleName}">role
                                            </option>
                                          </select>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>

                          <div class="modal fade" th:id="'deleteModal' + ${user.getId()}"
                               tabindex="-1" role="dialog"
                               aria-labelledby="deleteModalLabel"
                               aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <form  th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                                  <div class="modal-body">
                                    <div class="row justify-content-center">
                                      <div class="card-body col-md-6 text-center">
                                        <div class="form-group">
                                          <label class="font-weight-bold" for="idForDelete">First name</label>
                                          <input type="text" class="form-control"
                                                 th:value="${user.getId()}" id="idForDelete" disabled/>
                                        </div>

                                        <div class="form-group">
                                          <label class="font-weight-bold" for="firstNameForDelete">First name</label>
                                          <input type="text" class="form-control"
                                                 th:value="${user.getFirstName()}" id="firstNameForDelete" disabled/>
                                        </div>

                                        <div class="form-group">
                                          <label class="font-weight-bold" for="lastNameForDelete">Last name</label>
                                          <input type="text" class="form-control"
                                                 th:value="${user.getLastName()}" id="lastNameForDelete" disabled/>
                                        </div>

                                        <div class="form-group">
                                          <label class="font-weight-bold" for="ageForDelete">Age</label>
                                          <input type="number" class="form-control"
                                                 th:value="${user.getAge()}" id="ageForDelete" disabled/>
                                        </div>

                                        <div class="form-group">
                                          <label class="font-weight-bold" for="emailForDelete">Email</label>
                                          <input type="email" class="form-control"
                                                 th:value="${user.getEmail()}" id="emailForDelete" disabled/>
                                        </div>

                                        <div class="form-group">
                                          <label class="font-weight-bold" for="rolesForDelete">Roles</label>
                                          <select multiple class="form-control" th:name="roles" id="rolesForDelete" size="2" disabled>
                                            <option th:each="role : ${allRoles}"
                                                    th:value="${role.id}"
                                                    th:text="${role.roleName}">role
                                            </option>
                                          </select>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <!--new user-->
                  <div id="newUser" class="tab-pane fade">
                    <div class="card-header">
                      <h3>Add new user</h3>
                    </div>
                    <div class="row justify-content-center">
                      <div class="card-body col-md-4 text-center">
                        <form th:method="POST" th:action="@{/admin}" th:object="${newUser}">
                          <div class="form-group">
                            <label class="font-weight-bold" for="firstName">First name</label>
                            <input type="text" class="form-control" th:field="*{firstName}" id="firstName" required/>
                          </div>
                          <div class="form-group">
                            <label class="font-weight-bold" for="lastName">Last name</label>
                            <input type="text" class="form-control" th:field="*{lastName}" id="lastName" required/>
                          </div>
                          <div class="form-group">
                            <label class="font-weight-bold" for="age">Age</label>
                            <input type="number" class="form-control" th:field="*{age}" id="age" required/>
                          </div>
                          <div class="form-group">
                            <label class="font-weight-bold" for="email">Email</label>
                            <input type="email" class="form-control" th:field="*{email}" id="email" required/>
                          </div>
                          <div class="form-group">
                            <label class="font-weight-bold" for="password">Password</label>
                            <input type="password" class="form-control" th:field="*{password}" id="password" required/>
                          </div>
                          <div class="form-group">
                            <label class="font-weight-bold" for="roles">Roles</label>
                            <select multiple class="form-control" th:name="roles" id="roles" size="2" required>
                              <option th:each="role : ${allRoles}"
                                      th:value="${role.id}"
                                      th:text="${role.roleName}">role
                              </option>
                            </select>
                          </div>
                          <button type="submit" class="btn btn-success">Add new user</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--User information-page-->
              <div class="tab-pane" id="userCard" role="tabpanel" aria-labelledby="user-tab">
                <h1>Admin panel</h1>
                <div class="card my-3">
                  <div class="card-header">
                    <h3>About user</h3>
                  </div>
                  <div class="card-body">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Age</th>
                          <th>Email</th>
                          <th>Role</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:object="${authorizedUser}">
                          <td th:text="${authorizedUser.getId()}">id</td>
                          <td th:text="${authorizedUser.getFirstName()}">first name</td>
                          <td th:text="${authorizedUser.getLastName()}">last name</td>
                          <td th:text="${authorizedUser.getAge()}">age</td>
                          <td th:text="${authorizedUser.getEmail()}">email</td>
                          <td>
                            <span class="text"
                                  th:each="role : ${authorizedUser.getRoles()}"
                                  th:text="${role.getRoleName().replaceFirst('ROLE_', ' ')}">roles
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>

</html>


<!--      <form th:method="GET" th:action="@{/admin/new}">-->
<!--        <input type="submit" value="Add new user">-->
<!--      </form>-->
<!--      <br><br>-->