<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #eee;
        }
    </style>
</head>

<body>

<h2>User</h2>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <tr th:object="${user}">
        <td th:text="${user.getId()}">id</td>
        <td th:text="${user.getFirstName()}">first name</td>
        <td th:text="${user.getLastName()}">last name</td>
        <td th:text="${user.getAge()}">age</td>
        <td th:text="${user.getEmail()}">email</td>
        <td th:text="${user.getRoles()}">roles</td>
    </tr>
</table>

<br><br>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Sign Out">
</form>

</body>

</html>